*{
    padding: 0;
    margin: 0;
}
.pic{
    display: grid;
    grid-template-columns: repeat(3,270px);
    border-image: 10px;
    gap: 30px;
}
img{
    size: 230px;
}
li{ 
   display: grid;
   grid-template-columns: repeat(3);
   gap: 5px;
   list-style-type: upper-alpha;
   color: darkcyan;
   font-weight: bold;
   font-size: 150px;
}